<footer class="bg-black">
    <section class="flex flex-col p-8">
        <article>
            <div>
                <p class="text-white">Les illustrations de ce site sont issues de Wikimedia Commons et utilisées selon les termes de leurs licences respectives.</p>
            </div>
        </article>
        <article class="mt-4">
            <div>
                <p class="text-white">Tempus-Mundi ne recourt pas à l'utilisation de cookies. Seule votre adresse email est conservée lors de votre inscription, dans le strict respect du RGPD.</p>
                <p class="text-white">© 2026 Tempus-Mundi</p>
            </div>
        </article>
    </section>
</footer>
