{% extends 'base.html.twig' %}

{% block title %}Tempus Mundi
{% endblock %}

{% block body %}
	{{ include('main/nav.html.twig') }}
	<section class="mt-4 mb-4">
		<article class="flex flex-row">
			<div id="map" data-controller="map" class=" h-[65vh] w-[60vw] border-6 border-amber-900 rounded-lg relative shadow-xl overflow-visible">
				<div id="myModal" class="modal ">
					<div class="modal-content ">
						<span class="close-button">&times;</span>
						<div id="infoDiv" class="flex flex-col items-center">
							<h2 id="eventTitle" class="text-xl font-semibold"></h2>
							<h3 id="eventYear" class="text-xl font-semibold"></h3>
							<img id="eventImg" src="" alt="image non renseignée" class="modal-image"/>
							<p id="imgDesc"></p>
							<p id="eventText" class="mt-2 text-lg h-[60%]"></p>
							<ul id="linkList"></ul>
						</div>
					</div>
				</div>
			</div>
			<div id="resultDiv" class="mx-2 w-[35vw] max-lg:hidden flex flex-col text-center">
				<p class="mt-8">Le résultat de votre recherche s'affichera ici.<br>
					Sélectionnez une date pour découvrir les évenements historiques qui lui sont liée.</p>
				<div class="mt-8 flex flex-col items-center mx-12">
					<p class="text-lg">L’histoire n’est pas seulement un enchaînement de dates figées dans les manuels : c’est une multitude de récits, de territoires et d’expériences humaines qui façonnent notre présent.
						Ce site a pour ambition de rendre cette richesse vivante et accessible, en offrant un outil simple et interactif pour explorer le passé.</p>
					<p class="text-lg mt-2">Ici, vous pouvez parcourir les événements historiques à travers le temps et l’espace : choisissez une période, un thème ou une zone géographique, et laissez la carte vous révéler les traces du passé.
						Chaque point représente un moment d’histoire. Un clic suffit pour le mettre en lumière, découvrir son contexte et l’inscrire dans une vision plus large.</p>
					<p class="text-xl mt-6">"Le bon historien… doit être intrépide, non corrompu, libre, ami de la vérité et de la liberté. Celui qui appelle une figue une figue, et un esquif un esquif, ne donnant ni ne refusant à personne, par faveur ou par inimitié, non influencé par la pitié, la honte ou le remords. Un juge juste… un étranger à tous, d'aucun pays, lié uniquement par ses propres lois, ne reconnaissant aucun souverain, ne considérant jamais ce que tel ou tel homme peut dire de lui, mais relatant fidèlement tout ce qui s'est passé."</p>
					<p class="font-bold mt-8">Lucian de Samosate</p>
					<img src="{{asset('build/images/Lucianus.jpg')}}" class="w-32" alt="lucian" loading="lazy">
				</div>
			</div>
		</article>
	</section>
	<section class="min-h-6 mb-24">
		<article id="resultDivResponsive" class="mx-8 min-h-6"></article>
	</section>



{% endblock %}
